.loginForm {
  padding: 50px;

  h2 {
    margin-top: 0;
  }

  label {
    margin-right: 5px;
  }

  input {
    
  }
}

.loginBtn {
  
}

.formGroup {
  margin: 10px 0;
}

.registerLink {
  margin: 0 10px;
}
